.toggle {
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor; /* IE8+           */
  width: 6rem;
  height: 4rem;
  min-width: 6vw;
  min-height: 4vw;
  border: None;
  background-image: url("/images/Switch/SwitchBack.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.2s;
  position: relative;
  margin-left: 0.25rem;
  align-items: center;
}

.toggle::after {
  background-image: url("/images/Switch/Switch.png");
  width: 4rem;
  height: 4rem;
  min-width: 4vw;
  min-height: 4vw;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-flex;
  align-items: center;
  content: "";
  transition: all 0.2s;
  transform: translateX(-30%);
}

.toggledark {
  background-image: url("../../public/images/Switch/SwitchBackDark.png");
  transition: all 0.2s;
}

.toggledark::after {
  background-image: url("../../public/images/Switch/SwitchDark.png");
  transform: translateX(30%);
}

@media not (hover: none) {
  .toggle:hover {
    filter: brightness(75%);
  }

  .toggledark:hover {
    filter: brightness(75%);
  }
}
