.modalUI {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--background);
  border: 2px solid var(--primary);
  padding: 1.5rem;
  border-radius: 8px;
  width: 20vw;
  max-width: 400px;
  min-width: 300px;
  aspect-ratio: 1/1.5;
  z-index: 1000;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 999;
}
