.card {
  display: flex;
  align-items: center;
  border-radius: 1rem;
  background-color: var(--background-secondary);
  border: 2px solid var(--primary);
  width: 20vw;
  min-width: 20rem;
  max-width: 40rem;
  padding: 0.5rem;
  height: fit-content;
}

.coverLink {
  display: inline-block;
  line-height: 0;
  margin-right: 0;
}

.cover {
  width: max(min(7rem, 6vw), 5rem);
  height: max(min(7rem, 6vw), 5rem);
  border-radius: 0.75rem;
  object-fit: cover;
  flex-shrink: 0;
  margin-right: 1rem;
  cursor: pointer;
  transition: all 0.2s;
}

.details {
  display: flex;
  flex-direction: column;
  min-width: 0;
  overflow: hidden;
}

.scrollWrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 0.25rem;
}

.scrollContent {
  display: flex;
  will-change: transform;
}

.scrollContent span {
  white-space: nowrap;
  flex-shrink: 0;
}

.title span {
  font-size: min(calc(0.3rem + 1.2vw), 1.5rem);
  font-weight: 100;
  color: var(--primary);
}

.artist span {
  font-size: min(calc(0.2rem + 1.2vw), 0.9rem);
  font-weight: 100;
  color: var(--primary-dim);
}

.album span {
  font-size: min(calc(0.2rem + 1.2vw), 0.9rem);
  font-weight: 100;
  color: var(--secondary);
}

.placeholder {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--background-secondary);
  border: 2px solid var(--primary);
  width: 20vw;
  min-width: 20rem;
  max-width: 40rem;
  height: 10vw;
}

@media (max-width: 48rem) {
  .card {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: var(--background-secondary);
    border: 2px solid var(--primary);
    width: 50vw;
    height: 100%;
    min-width: 16rem;
    max-width: 30rem;
    height: 100%;
  }

  .title span {
    font-size: min(calc(3vw), 1rem);
    font-weight: 100;
    color: var(--primary);
  }

  .artist span {
    font-size: min(calc(2.5vw), 0.8rem);
    font-weight: 100;
    color: var(--primary-dim);
  }

  .album span {
    font-size: min(calc(2vw), 0.8rem);
    font-weight: 100;
    color: var(--secondary);
  }
}

@media not (hover: none) {
  .cover:hover {
    cursor: url(".../../../../../public/images/Cursor/Pointer.png"), pointer;
    filter: brightness(75%);
    z-index: 100;
  }
}
