.logoButton {
  min-width: 4.5rem;
  min-height: 4.5rem;
  width: 4.5vw;
  height: 4.5vw;
  max-width: 6rem;
  max-height: 6rem;
  aspect-ratio: 1/1;
}

.logoButtonBadge {
  width: min(4.5vw, 4rem);
  height: min(4.5vw, 4rem);
}

.logoButton > img {
  width: 100%;
  image-rendering: pixelated;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  transition: opacity 200ms;
}

.badgeWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* space between icon and text */
}

.badgeText {
  font-size: 1rem;
  color: var(--primary); /* adjust to your theme */
  text-align: center;
}

.buttonRendering {
  border: None;
  background-color: transparent;
  transition: all 0.2s;
  position: relative;
}

.under {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  z-index: 1;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(3em, 1fr));
  grid-template-rows: repeat(1fr auto auto);
  grid-column-gap: 3rem;
  grid-row-gap: 2rem;
  vertical-align: top;
}

.hide {
  display: none;
}

.logoText {
  text-align: center;
  font-size: calc(0.5rem + 1vw);
  line-height: 1.5;
}

@media (max-width: 48rem) {
  .grid {
    grid-template-columns: repeat(4, minmax(3em, 1fr));
    grid-column-gap: 10vw;
    grid-row-gap: 2rem;
  }
}

@media not (hover: none) {
  .logoButton:hover {
    cursor: url(".../../../../public/images/Cursor/Cursor.png"), auto;
  }

  .under:hover {
    transform: scale(1.1);
    z-index: 10;
    cursor: url(".../../../../public/images/Cursor/Pointer.png"), pointer;
  }

  .under:hover .hide {
    display: block;
    margin: auto;
    position: absolute;
    top: 100%;
    z-index: 10;
    white-space: nowrap;
    background-color: var(--background);
  }
}
