.logoButtonSmall {
  width: 5vw;
  height: 5vw;
  min-width: 3rem;
  min-height: 3rem;
}

.logoButtonSmall > img {
  width: 100%;
  image-rendering: pixelated;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  transition: opacity 200ms;
}

.buttonRendering {
  border: None;
  background-color: transparent;
  transition: all 0.2s;
  position: relative;
}

.under {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}

.grid {
  display: grid;
  grid-template-columns: repeat(calc(70vw / 4.5rem), minmax(0, 1fr));
  grid-column-gap: 4vw;
  grid-row-gap: 0vw;
  vertical-align: top;
}

@media (max-width: 48rem) {
  .grid {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(calc(100vw / 4.5rem), minmax(0, 1fr));
    grid-column-gap: 3vw;
    grid-row-gap: 0vw;
    vertical-align: top;
  }
}

@media not (hover: none) {
  .under:hover {
    transform: scale(1.1);
  }
}
