.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  background-color: var(--background-secondary);
  border: 2px solid var(--primary);
  transition: all 0.2s;
  width: 100%;
  padding: 0.5rem;
  gap: 0.5rem;
}

.albumImage {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 0.75rem;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: min(1.3rem, 3vw);
  color: var(--text-secondary);
  gap: 0;
}

.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
}

.scrobbles {
  width: 33%;
  text-align: right;
  padding-left: 0;
}

@media not (hover: none) {
  .card:hover {
    transform: scale(1.1);
    z-index: 10;
  }
}
