.button {
  min-width: 4rem;
  min-height: 4rem;
  width: 4vw;
  height: 4vw;
  background-color: transparent;
  transition: all 0.2s;
  position: relative;
  cursor: pointer;
}

.button > img {
  width: 100%;
  image-rendering: pixelated;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
}

.navBar {
  background-color: var(--background-secondary);
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  flex-direction: row;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  position: sticky;
  top: 0;
  z-index: 5;
  gap: min(0.5rem, 2vw);
  transition: opacity 0.7s ease-out;
}

.navBarHidden {
  opacity: 0;
}

.navBarVisible {
  opacity: 1;
}

.noBullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.buttonRendering {
  border: None;
  background-color: transparent;
  transition: all 0.2s;
}

@media (max-width: 48rem) {
  .navBar {
    align-self: center;
    justify-content: center;
    gap: 2vw;
  }
}

@media not (hover: none) {
  .button:hover {
    filter: brightness(75%);
    cursor: url(".../../../../public/images/Cursor/Pointer.png"), pointer;
  }
}
