.button {
  width: 4rem;
  height: 4rem;
  min-width: 4vw;
  min-height: 4vw;
  background-color: transparent;
  transition: all 0.2s;
  position: relative;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  cursor: pointer;
}

.button > img {
  width: 100%;
  image-rendering: pixelated;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
}

.navBar {
  background-color: var(--background-secondary);
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  flex-direction: row;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.noBullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.buttonRendering {
  border: None;
  background-color: transparent;
  transition: all 0.2s;
}

@media (max-width: 48rem) {
  .navBar {
    background-color: var(--background-secondary);
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: row;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

@media not (hover: none) {
  .button:hover {
    filter: brightness(75%);
  }
}
