.namePlate,
.namePlateHome {
  width: 100vw;
  max-width: 90rem;
  height: 50vw;
  max-height: 45rem;
  background-size: cover;
  background-position: center;
  position: relative;
  opacity: 1;
  margin: 0rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.imageWrapperWithExtras,
.statsWrapperWithExtras {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: min(1vw, 1rem);
  align-items: center;
}

.badgeBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0.5rem;
  background-color: var(--background-secondary);
  border: 2px solid var(--primary);
  border-radius: 0.75rem;
  font-size: 0.85rem;
  height: fit-content;
  width: 20vw;
  z-index: 1;
  pointer-events: auto;
  text-align: center;
  min-width: 20rem;
  max-width: 40rem;
  margin: auto;
  box-sizing: border-box;
}

.infoBox {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: min(1vw, 1rem);
  padding: 0.5rem;
  background-color: var(--background-secondary);
  border: 2px solid var(--primary);
  border-radius: 0.75rem;
  font-size: 0.85rem;
  height: fit-content;
  width: 20vw;
  min-width: 20rem;
  max-width: 40rem;
  height: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  z-index: 1;
  pointer-events: auto;
  text-align: center;
  margin: auto;
  box-sizing: border-box;
}

.blueName {
  background-image: url("/images/NamePlate/Blue/Normal.png");
}

.redName {
  background-image: url("/images/NamePlate/Red/Normal.png");
}

.yellowName {
  background-image: url("/images/NamePlate/Yellow/Normal.png");
}

.greenName {
  background-image: url("/images/NamePlate/Green/Normal.png");
}

.nameBox {
  border: 2px solid var(--primary);
  border-radius: 0.25rem;
  padding: 0.25rem 0.75rem;
  text-align: left;
  width: 100%;
}

.artist {
  text-align: right;
  width: min(40vw, 30rem);
}

.scrobbles {
  text-align: left;
  width: min(40vw, 30rem);
}

.link {
  color: var(--primary);
  text-decoration: underline;
  transition: color 0.2s;
}

.link:hover {
  color: #ffcc00; /* Or any accent color */
}

.nameText {
  font-size: min(calc(0.1rem + 2.4vw), 3rem);
  font-weight: 600;
  color: var(--primary);
  margin: 0;
}

.titleSmall {
  font-size: min(20vw, 6rem);
  text-align: center;
  color: #f5f5f5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.levelText {
  font-size: min(calc(0.5rem + 1.25vw), 1.5rem);
  font-weight: 600;
  color: var(--primary);
}

.infoText {
  font-size: min(calc(5vw), 1rem);
  font-weight: 600;
  color: var(--primary);
  margin: 0;
  text-align: left;
  width: 40vw;
  box-sizing: border-box;
  word-wrap: break-word;
}

.imageNameWrapper {
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 100%;
  min-width: 16rem;
  max-width: 30rem;
  margin: auto;
  padding: min(0.75rem, 2vw);
  background-color: var(--background-secondary);
  border: 2px solid var(--primary);
  border-radius: 0.75rem;
  box-sizing: border-box;
  gap: min(0.25vw, 1rem);
}

.statsWrapper {
  width: 20vw;
  min-width: 20rem;
  max-width: 40rem;
  height: 100%;
  margin: auto;
  padding-top: 1rem;
  background-color: var(--background-secondary);
  border: 2px solid var(--primary);
  border-radius: 0.75rem;
  box-sizing: border-box;
}

.nameRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: min(1vw, 1rem);
  margin-top: 0.5rem;
  width: 100%;
  max-width: 30rem;
  height: fit-content;
}

.swapButton {
  width: min(calc(2rem + 3vw), 4.5rem);
  height: min(calc(2rem + 3vw), 4.5rem);
  border: None;
  background-color: transparent;
  transition: all 0.2s;
  position: relative;
}

.mainImage {
  border-radius: 0.125rem !important;
  border: 2px solid var(--primary);
  width: 100%;
  max-width: 30rem;
  object-fit: "cover";
  justify-content: center;
}

@media (min-width: 48rem) {
  .statsWrapperSmallScreen {
    display: none;
  }

  .outerContainer {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    background-color: var(--background-secondary);
    border: 2px solid var(--primary);
    border-radius: 0.5rem;
    padding: min(1vw, 1rem);
    gap: min(1vw, 1rem);
    width: fit-content;
    height: 48vw;
    max-height: 43.5rem;
    margin: auto auto;
    overflow: hidden;
  }
}

@media (max-width: 48rem) {
  .blueName {
    background-image: url("/images/NamePlate/Blue/Small.png");
  }

  .redName {
    background-image: url("/images/NamePlate/Red/Small.png");
  }

  .yellowName {
    background-image: url("/images/NamePlate/Yellow/Small.png");
  }

  .greenName {
    background-image: url("/images/NamePlate/Green/Small.png");
  }

  .namePlate {
    height: 100vw;
  }

  .namePlateHome {
    height: 100%;
    max-height: unset;
    padding: min(1vw, 1rem);
    overflow: hidden;
  }

  .title {
    font-size: min(21vw, 6rem);
  }

  .titleSmall {
    font-size: min(14vw, 4rem);
  }

  .containerButtons {
    margin-top: 1rem;
  }

  .outerContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    background-color: var(--background-secondary);
    border: 2px solid var(--primary);
    border-radius: 0.5rem;
    gap: min(1vw, 1rem);
    width: auto;
    min-width: unset;
    max-width: 36rem;
    padding: 0.5rem;
    max-height: unset;
    min-height: unset;
    overflow: hidden;
  }

  .mainImage {
    border-radius: 0.125rem !important;
    border: 2px solid var(--primary);
    width: 100%;
    object-fit: "cover";
    justify-content: center;
  }

  .imageNameWrapper {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 100%;
    min-width: 16rem;
    max-width: 30rem;
    margin: auto;
    padding: min(0.75rem, 2vw);
    background-color: var(--background-secondary);
    border: 2px solid var(--primary);
    border-radius: 0.75rem;
    box-sizing: border-box;
    gap: min(0.25vw, 1rem);
  }

  .infoBox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: min(1vw, 1rem);
    padding: 0.5rem;
    background-color: var(--background-secondary);
    border: 2px solid var(--primary);
    border-radius: 0.75rem;
    font-size: 0.85rem;
    height: fit-content;
    width: 50vw;
    min-width: 16rem;
    max-width: 30rem;
    height: 100%;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    z-index: 1;
    pointer-events: auto;
    text-align: center;
    margin: auto;
    box-sizing: border-box;
  }

  .infoText {
    font-size: min(calc(3vw), 1rem);
    font-weight: 600;
    color: var(--primary);
    margin: 0;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  .nameText {
    font-size: min(calc(1rem + 3vw), 4.5rem);
    font-weight: 600;
    color: var(--primary);
    margin: 0;
  }
}

.titleCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  min-width: 100vw;
  text-align: center;
  font-size: min(15vw, 18rem);
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  color: #f5f5f5;
}

.containerButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: min(0.5vw, 1rem);
}

.notYetVisible {
  opacity: 0;
}

.loadedAndVisible {
  opacity: 1;
}

@media not (hover: none) {
  .swapButton:hover {
    cursor: url(".../../../../public/images/Cursor/Pointer.png"), pointer;
    filter: brightness(75%);
    z-index: 100;
  }
}
