.namePlate {
  width: 100vw;
  height: 50vw;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 11;
  opacity: 1;
}

.namePlateBackground {
  width: 100vw;
  height: 50vw;
  background: #2A7B9B;
  background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
  z-index: 10;
  background-size: cover;
  background-position: center;
  position: absolute;
}

/* Responsive background images */
.redName {
  background-image: url("/images/NamePlate/Red/Normal.png");
}

.yellowName {
  background-image: url("/images/NamePlate/Yellow/Normal.png");
}

@media (max-width: 48rem) {
  .redName {
    background-image: url("/images/NamePlate/Red/Small.png");
  }

  .yellowName {
    background-image: url("/images/NamePlate/Yellow/Small.png");
  }

  .namePlate {
    height: 100vw;
  }

  .title {
    font-size: 20vw;
  }

  .containerButtons {
    margin-top: 1rem;
    transform: scale(2);
  }
}

/* Title layout */
.titleCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  min-width: 100vw;
  text-align: center;
  font-size: 15vw;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  color: #f5f5f5;
}

.containerButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: scale(1.25);
}
