.toggle {
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
  width: min(6rem, 21vw);
  height: min(4rem, 14vw);
  border: None;
  background-image: url("/images/Switch/SwitchBack.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.2s;
  position: relative;
  align-items: center;
}

.toggle::after {
  background-image: url("/images/Switch/Switch.png");
  width: min(4rem, 14vw);
  height: min(4rem, 14vw);
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-flex;
  align-items: center;
  content: "";
  transition: all 0.2s;
  transform: translateX(-30%);
}

.toggledark {
  background-image: url("../../../public/images/Switch/SwitchBackDark.png");
  transition: all 0.2s;
}

.toggledark::after {
  background-image: url("../../../public/images/Switch/SwitchDark.png");
  transform: translateX(30%);
}

@media not (hover: none) {
  .toggle:hover {
    filter: brightness(75%);
    cursor: url("../../../public/images/Cursor/Pointer.png"), pointer;
  }

  .toggledark:hover {
    filter: brightness(75%);
    cursor: url("../../../public/images/Cursor/Pointer.png"), pointer;
  }
}
