.resumeContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}

.sidePanel {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-right: 0.5rem;
}

.textHeader {
  width: 100%;
}

.button {
  width: 8vw;
  height: 8vw;
  min-width: 5rem;
  min-height: 5rem;
  max-width: 7rem;
  max-height: 7rem;
  background-color: transparent;
  transition: all 0.2s;
  position: relative;
  border: 0.25rem solid transparent;
  cursor: pointer;
}

.button > img {
  width: 100%;
  image-rendering: pixelated;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.activeJobButton {
  border: 0.25rem solid var(--foreground) !important;
  border-radius: 0.25rem;
}

.jobInfo {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-top: 1rem;
}

.jobTitle {
  font-size: calc(1rem + 1.5vw);
  margin: 0;
  max-width: 80%;
  word-wrap: break-word;
}

.employer {
  font-size: calc(1rem + 1vw);
  margin: 0;
  opacity: 0.8;
}

.location {
  font-size: calc(1rem + 0.8vw);
  margin: 0;
  opacity: 0.8;
}

.list {
  list-style-type: none;
  padding-left: 0;
  margin: 0.5rem 0;
}

.bullets {
  display: flex;
  align-items: center;
  padding-bottom: 0.75rem;
  margin-bottom: 0.75rem;
  margin-right: 0.75rem;
  font-size: calc(1rem + 0.75vw);
}

.bullet {
  color: var(--foreground);
  font-size: calc(1rem + 0.75vw);
  margin-right: 0.5rem;
}

.ResumeBacker {
  position: relative;
  width: 80vw;
  min-width: 20rem;
  min-height: 40rem;
}

.buttonPlacement {
  align-self: right;
}

.buttonRendering {
  border: none;
  background-color: transparent;
  transition: all 0.2s;
  position: relative;
}

@media (max-width: 64rem) {
  .jobName {
    text-align: left;
    font-size: 1.5rem;
    line-height: 1;
    width: 50vw;
    font-weight: bold;
    margin-left: 1rem;
    position: absolute;
    left: 25%;
    top: 5%;
  }
}

@media (max-width: 48rem) {
  /* Main container */
  .resumeContainer {
    flex-direction: column; /* Stack vertically */
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .ResumeBacker {
    width: 80vw;
    min-height: 40rem;
    background-color: var(--background);
    justify-content: center;
  }

  .sidePanel {
    flex-direction: row; /* Make logos horizontal */
    flex-wrap: wrap; /* Allow multiple rows if needed */
    justify-content: center; /* Center logos */
    min-width: auto;
    padding: 1rem 0;
  }

  .jobName {
    text-align: left;
    font-size: 4vw;
    line-height: 1;
    width: 50vw;
    font-weight: bold;
    margin-left: 1rem;
    left: 30vw;
    top: 5%;
  }
}

@media not (hover: none) {
  .button:hover {
    transform: scale(1.1);
    cursor: url("../../../public/images/Cursor/Pointer.png"), pointer;
  }
}
