html,
body {
  background-color: var(--background);
  padding: 0;
  margin: 0;
  font-family: "Pixelify_Sans", "UNIFONTEX", "OLYMPUS";
  transition: all 0.2ms;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: calc (-1 * (100vw - 100%));
  cursor: url(".../../../../public/images/Cursor/Cursor.png"), auto;
}

* {
  box-sizing: border-box;
}

main {
  flex: 1;
  display: flex;
  border: none !important;
  transition: background-color 0.3s ease, color 0.3s ease;
  opacity: 1;
  overflow-x: hidden;
}

footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

code {
  color: var(--primary);
  background: var(--primary-dark);
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: "Pixelify_Sans";
}

circle {
  width: 200px;
  height: 200px;
}

circle {
  position: absolute;
  fill: none;
  stroke-width: 10;
  transform: translate(10px, 10px);
  stroke-dasharray: 440;
  stroke-linecap: round;
}

circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #424242;
}

@font-face {
  font-family: "Pixelify_Sans";
  src: local("Pixelify_Sans"),
    url("../../public/Pixelify_Sans/static/PixelifySans-Regular.ttf")
      format("truetype");
}

@font-face {
  font-family: "GBA_FE";
  src: local("GBA_FE"),
    url("../../public/gba-fe-dialogue/gba-fe-dialogue.otf") format("truetype");
}

@font-face {
  font-family: "LANAPIXEL";
  src: local("LANAPIXEL"),
    url("../../public/lanapixel_everything/LanaPixel.ttf") format("truetype");
}

@font-face {
  font-family: "UNIFONTEX";
  src: local("UNIFONTEX"),
    url("../../public/Unifontex/Unifontex.ttf") format("truetype");
}

@font-face {
  font-family: "OLYMPUS";
  src: local("OLYMPUS"),
    url("../../public/olympus/olympus.otf") format("truetype");
}

nav {
  outline: none !important;
  box-shadow: none !important;
  position: relative;
  list-style-type: none;
  margin: 0;
  padding-left: 3rem;
  padding-right: 3rem;
  overflow: hidden;
  background-color: var(--primary-dark);
  border-bottom: 1px solid var(--primary-dim); /* Remove this for the border */
}

.nav li {
  display: inline-block;
}

ul li {
  display: list-item;
  text-align: left;
}

li a {
  font-size: 100%;
  display: block;
  color: var(--primary-bright);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

h1 {
  margin: 0;
  padding: 0;
}

.animate-up {
  opacity: 0;
  /* transform: translateY(1000px);
  animation: slideUp 0.6s ease forwards; */
}

/* Delay animations for staggered effect */
.animate-up:nth-child(1) {
  animation-delay: 0.1s;
}
.animate-up:nth-child(2) {
  animation-delay: 0.2s;
}
.animate-up:nth-child(3) {
  animation-delay: 0.3s;
}
.animate-up:nth-child(4) {
  animation-delay: 0.4s;
}
.animate-up:nth-child(5) {
  animation-delay: 0.5s;
}

/* Animation keyframes */
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media not (hover: none) {
  a:hover {
    cursor: url(".../../../../public/images/Cursor/Pointer.png"), pointer;
  }

  button:hover {
    cursor: url(".../../../../public/images/Cursor/Pointer.png"), pointer;
  }
}
