.containerColour {
  background-color: var(--background);
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  max-width: 100%;
}

.container {
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.alignLeftTitle {
  text-align: left;
  max-width: 25%;
  word-wrap: break-word;
}

.paddingTopBottom {
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.title a {
  color: var(--secondary);
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0 0 1rem;
  line-height: 1.15;
  font-size: 3.6rem;
}

.title {
  text-align: center;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.locationGrid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.5rem;
  vertical-align: top;
  align-items: center;
}

.side {
  flex-direction: row;
  display: flex;
  justify-content: center;
  max-width: 800px;
  margin-left: 3rem;
  margin-right: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid var(--primary-dark);
  border-radius: 10px;
  transition:
    color 0.15s ease,
    border-color 0.15s ease;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

.besideRendering {
  display: flex;
  align-self: flex-start;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 5vw;
  margin-right: 5vw;
}

.tableRow {
  margin-bottom: 3rem;
}

.jobGrid {
  vertical-align: top;
  align-items: center;
  grid-template-columns: repeat(3, minmax(0rem, 1fr));
  justify-content: center;
  align-items: center;
  width: 90vw;
  max-width: 90rem;
}

.artistGrid {
  vertical-align: top;
  align-items: center;
  justify-content: center;
  align-items: center;
  width: 90vw;
  max-width: 90rem;
  place-items: center;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contentWrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: none;
}

.centeredContent {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.sliderContainer {
  overflow-x: auto;
  padding-bottom: 1rem;
  margin-top: 2rem;
}

.slider {
  display: flex;
  gap: 1rem;
}

@media (min-width: 64rem) {
  .jobGrid {
    display: grid;
    /* grid-template-columns: repeat(3, minmax(0.25rem, 1fr)); */
    padding: 1rem;
    vertical-align: top;
    align-items: center;
  }

  .table {
    table-layout: auto;
    margin-left: 2vw;
    margin-right: 2vw;
    border-collapse: separate;
    border-spacing: 2rem;
    width: 100%;
    max-width: 90rem;
  }

  .tableTitle {
    padding-right: 5vw;
    width: 10vw;
    display: flex;
    justify-content: center;
  }

  .tableValue {
    width: 80%;
  }

  .tableRow {
    width: 100%;
    max-width: 90vw;
  }
}

@media (min-width: 70rem) {
  .artistGrid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0rem, 1fr));
    padding: 1rem;
    vertical-align: top;
    align-items: center;
  }
}

@media (max-width: 70rem) and (min-width: 56rem) {
  .artistGrid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0rem, 1fr));
    padding: 1rem;
    vertical-align: top;
    align-items: center;
  }
}

@media (max-width: 64rem) and (min-width: 48rem) {
  .locationGrid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-column-gap: 0.75rem;
    grid-row-gap: 0.5rem;
    vertical-align: top;
    align-items: center;
  }

  .container {
    max-width: 100vw;
    padding: 0 0.5rem;
  }

  .jobGrid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    vertical-align: top;
    align-items: center;
  }

  .artistGrid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    vertical-align: top;
    align-items: center;
  }

  .tableTitle {
    padding-right: 5vw;
    width: 20vw;
    display: flex;
    justify-content: center;
  }

  .tableValue {
    width: 80%;
  }

  .table {
    table-layout: auto;
    margin-left: 2vw;
    margin-right: 2vw;
    border-collapse: separate;
    border-spacing: 2rem;
  }
}

@media (max-width: 48rem) {
  .tableTitle {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container {
    max-width: 100vw;
    padding: 0 0.5rem;
  }

  .jobGrid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    vertical-align: top;
    align-items: center;
  }

  .artistGrid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    vertical-align: top;
    align-items: center;
  }

  .locationGrid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-column-gap: 0.75rem;
    grid-row-gap: 0.5rem;
    vertical-align: top;
    align-items: center;
  }

  .besideRendering {
    display: flex;
    align-self: flex-start;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .tableRow {
    align-items: center;
    align-self: center;
    display: inline-flex;
    flex-direction: column;
    padding-bottom: 2rem;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .table {
    align-items: center;
    margin-left: 1vw;
    margin-right: 1vw;
    border-spacing: 2rem;
  }
}

.initialHide {
  opacity: 0;
  transition:
    opacity 1s ease-out,
    transform 1s ease-out;
}

.animateUp {
  opacity: 1;
}
