/*
* Light mode theme 
*/
:root {
  --primary-bright: #050505;
  --primary: #050505;
  --primary-dim: #222426;
  --primary-dark: #dcdcdc;
  --secondary: #282828;
  --secondary-bright: #4800ff;
  --background: #fafafa;
  --background-secondary: #fafafa66;
  --background-tertiary: #fafafad0;
  --foreground: #d57e04;
  --foreground-transparent: #d57e0466;
  --loader-background: #b9b9b9;
}

/*
 * Dark mode theme 
 */
[data-theme="dark"] {
  --primary-bright: #f5f5f5;
  --primary: #f5f5f5;
  --primary-dim: #9b9b9b;
  --primary-dark: #020101;
  --secondary: #dcdcdc;
  --secondary-bright: #ffea5f;
  --background: #282828;
  --background-secondary: #28282866;
  --background-tertiary: #282828d0;
  --foreground: #2d45e6;
  --foreground-transparent: #2d45e666;
  --loader-background: #646464;
}
