.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  background-color: var(--background-secondary);
  border: 2px solid var(--primary);
  transition: all 0.2s;
  width: 100%;
  padding: 0.5rem;
  gap: 0.5rem;
}

.albumImage {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 0.75rem;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  font-size: min(1.3rem, 3vw);
  color: var(--text-secondary);
  gap: 0;
}

.name {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
}

.scrobbles {
  width: min(10vw, 4rem);
  text-align: left;
  padding-left: 0;
}

.stats {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  font-size: min(1rem, 2.5vw);
  color: var(--text-secondary);
}

.imagePlaceholder {
  all: unset;
  border-radius: 1rem;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 0.75rem;
  margin: none;
  position: relative;
}

.placeholder {
  float: left;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 0.75rem;
  opacity: 50%;
}

@media not (hover: none) {
  .card:hover {
    transform: scale(1.1);
    z-index: 10;
  }
}
