.buttonPlacement {
  position: absolute;
  right: 0%;
  bottom: 0%;
  align-self: right;
  margin-right: 0.5vw;
  margin-bottom: 0.5vw;
}

.projectTitle {
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: left;
  font-size: 2vw;
  line-height: 1;
  font-weight: bold;
  margin-left: 0.5vw;
  align-items: center;
  width: 20vw;
  word-wrap: break-word;
}

@media only screen and (min-width: 64rem) {
  .ProjectsBacker {
    width: 27vw;
    height: 36vw;
  }
}

@media (max-width: 64rem) and (min-width: 48rem) {
  .ProjectsBacker {
    width: 36vw;
    height: 48vw;
  }
}

@media (max-width: 48rem) {
  .ProjectsBacker {
    width: 80vw;
    height: 30vw;
  }

  .buttonPlacement {
    display: absolute;
    right: 0%;
    top: 50%;
    transform: translate(0%, -50%);
  }

  .projectTitle {
    text-align: left;
    font-size: 1.3rem;
    line-height: 1;
    width: 50vw;
    font-weight: bold;
    margin-left: 1rem;
    image-rendering: crisp-edges;
    justify-content: "center";
    vertical-align: "center";
    align-items: "center";
    left: 0%;
    top: 50%;
    transform: translate(0%, -50%);
  }
}

@media not (hover: none) {
  .ProjectsBacker:hover {
    transform: scale(1.1);
  }
}
