html,
body {
  padding: 0;
  margin: 0;
  font-family: "dogica";
}
* {
  box-sizing: border-box;
}

main {
  padding: 3rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid var(--primary-dim);
  display: flex;
  justify-content: center;
  align-items: center;
}
footer img {
  margin-left: 0.5rem;
}
footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
}
code {
  color: var(--primary);
  background: var(--primary-dark);
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: "dogica";
}

@font-face {
  font-family: "dogica";
  src: local("dogica"),
    url("../public//dogica/TTF/dogicapixel.ttf") format("truetype");
}
