.container {
  justify-content: center;
  align-items: center;
  min-height: 5vh;
  max-width: 100vw;
  padding-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
}

.containerRight {
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  flex-direction: row;
  max-width: 100vw;
  right: 0;
}

.containerButtons {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  position: relative;
  transform: scale(1.25);
}

.containerAbsolute {
  min-height: 5vh;
  max-width: 100vw;
  padding: 0 0.5rem;
  display: flex;
  position: absolute;
  left: 2rem;
  bottom: 2rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.containerFixedLeft {
  min-height: 5vh;
  max-width: 100vw;
  padding: 0 0.5rem;
  display: flex;
  position: fixed;
  left: 1rem;
  bottom: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerFixedRight {
  min-height: 5vh;
  max-width: 100vw;
  padding: 0 0.5rem;
  display: flex;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerBox {
  min-height: 5vh;
  max-width: 100vw;
  padding: 1 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerLanguageDex {
  position: absolute;
  left: 21rem;
  top: 7rem;
  align-items: "center";
  justify-content: center;
  vertical-align: bottom;
}

.under {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}

.under:hover {
  transform: scale(1.1);
}

.transformer {
  display: flex;
  flex-direction: row;
}

.containerLanguageDexBottom {
  position: absolute;
  min-width: 2rem;
  left: 21rem;
  bottom: 8.75rem;
  align-items: "center";
  justify-content: center;
  vertical-align: bottom;
}

.title a {
  color: var(--secondary);
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0 0 1rem;
  line-height: 1.15;
  font-size: 3.6rem;
}

.title {
  text-align: center;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 0.5rem;
  vertical-align: top;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 0.5rem;
  vertical-align: top;
}

.grid3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 0.5rem;
  vertical-align: top;
}

.side {
  flex-direction: row;
  display: flex;
  justify-content: center;
  max-width: 800px;
  margin-left: 3rem;
  margin-right: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid var(--primary-dark);
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: var(--secondary);
  border-color: var(--secondary);
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 128rem) {
  .containerIcons {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
  }

  .jobGrid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-column-gap: 0.75rem;
    grid-row-gap: 0.5rem;
    vertical-align: top;
    align-items: center;
  }

  .locationGrid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: 0.75rem;
    grid-row-gap: 0.5rem;
    vertical-align: top;
    align-items: center;
  }

  .carousel {
    width: 80%;
    height: 80%;
    vertical-align: center;
  }
}

@media (max-width: 64rem) {
  .transformer {
    display: flex;
    flex-direction: column;
  }

  .containerIcons {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 55%;
    left: 25%;
    transform: none;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-column-gap: 2rem;
    grid-row-gap: 0.5rem;
    vertical-align: top;
  }

  .carousel {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .container {
    min-height: 0vh;
    max-width: 100vw;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
  }

  .containerAbsolute {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 5%;
    top: 20%;
    transform: none;
  }

  .containerFixedLeft {
    min-height: 5vh;
    max-width: 100vw;
    padding: 0 0.5rem;
    display: flex;
    position: fixed;
    left: 0.5rem;
    bottom: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .containerFixedRight {
    min-height: 5vh;
    max-width: 100vw;
    padding: 0 0.5rem;
    display: flex;
    position: fixed;
    right: 0.5rem;
    bottom: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .containerBox {
    min-height: 5vh;
    max-width: 100vw;
    padding: 0.5 0.5rem;
    display: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .jobGrid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: 0.75rem;
    grid-row-gap: 0.5rem;
    vertical-align: top;
    align-items: center;
  }
  .locationGrid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: 0.75rem;
    grid-row-gap: 0.5rem;
    vertical-align: top;
    align-items: center;
  }
}

@media (max-width: 36rem) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: 2rem;
    grid-row-gap: 0.5rem;
    vertical-align: top;
  }

  .grid3 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: 1rem;
    grid-row-gap: 0.5rem;
    vertical-align: top;
  }

  .container {
    min-height: 0vh;
    max-width: 100vw;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
  }

  .containerAbsolute {
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 5%;
    top: 20%;
  }

  .containerFixedLeft {
    min-height: 5vh;
    max-width: 100vw;
    padding: 0 0.5rem;
    display: flex;
    position: fixed;
    left: 0.5rem;
    bottom: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .containerFixedRight {
    min-height: 5vh;
    max-width: 100vw;
    padding: 0 0.5rem;
    display: flex;
    position: fixed;
    right: 0.5rem;
    bottom: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .containerBox {
    min-height: 5vh;
    max-width: 100vw;
    padding: 0.5 0.5rem;
    display: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .jobGrid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-column-gap: 0.75rem;
    grid-row-gap: 0.5rem;
    vertical-align: top;
    align-items: center;
  }
  .locationGrid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-column-gap: 0.75rem;
    grid-row-gap: 0.5rem;
    vertical-align: top;
    align-items: center;
  }
}
