.lightBorder {
  border: 1vw solid var(--secondary) !important;
  background: #dcdcdc;
  border-radius: 0.25rem;
  margin: 1rem;
}

.darkBorder {
  border: 0.5rem solid var(--secondary) !important;
  background: #282828;
  border-radius: 0.25rem;
  margin: 1rem;
}

.fadeInAnimation {
  animation: fadeIn 1.5s ease-in;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
  }
}

.imageRendering {
  padding: 0;
  border: None;
  background-color: transparent;
  background-repeat: no-repeat;
  word-wrap: break-word;
  background-size: cover;
  transition: all 0.2s;
  position: relative;
  image-rendering: pixelated;
}

.pixelated {
  image-rendering: pixelated; /* CSS4 Proposed  */
  image-rendering: optimizeSpeed; /* Legal fallback */
  image-rendering: -moz-crisp-edges; /* Firefox        */
  image-rendering: -o-crisp-edges; /* Opera          */
  image-rendering: -webkit-optimize-contrast; /* Safari         */
  image-rendering: optimize-contrast; /* CSS3 Proposed  */
  image-rendering: crisp-edges; /* CSS4 Proposed  */
  -ms-interpolation-mode: nearest-neighbor; /* IE8+           */
}
