.heading2Xl2 {
  text-align: center;
  font-size: 15vw;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin-top: 15%;
  color: #f5f5f5;
}

.heading2Xl {
  text-align: center;
  font-size: 6rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  text-align: center;
  font-size: 3rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 3rem;
}

.headingLg {
  text-align: center;
  font-size: 2.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.5;
}

.headingMdCircle {
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.5;
}

.boxLgBlack {
  text-align: center;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: bold;
  margin: 3rem 1rem;
  color: #050505;
}

.boxLg {
  text-align: center;
  float: top;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: bold;
  margin: 2rem 2rem;
  position: 0 1vh;
}

.boxMdBlack {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: bold;
  margin: 3rem 3rem;
  color: #050505;
}

.box2Md {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: bold;
  margin: 2rem 3rem;
}

.boxCircleBar {
  align-self: center;
  text-align: center;
  width: 8rem;
  height: 8rem;
  min-width: 8rem;
  min-height: 8rem;
  line-height: 1;
  font-weight: bold;
  position: absolute;
  left: 11rem;
  bottom: 3rem;
}

.boxMd {
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.3;
  margin: 2rem 3rem;
}

.namePlate {
  width: 90vw;
  height: 45vw;
  min-width: 90vw;
  min-height: 45vw;
  align-items: center;
  justify-content: center;
}

.circleBackground {
  background: transparent;
}

.redName {
  background-image: url("../public/images/NamePlate/NamePlateRed.png");
}

.yellowName {
  background-image: url("../public/images/NamePlate/NamePlateYellow.png");
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

.toggle {
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor; /* IE8+           */
  width: 6rem;
  height: 4rem;
  min-width: 3rem;
  min-height: 2rem;
  padding: 0;
  border: None;
  background-image: url(../public/images/SwitchBack.png);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.2s;
  position: relative;
  right: 0%;
  top: 1rem;
}

.toggle::after {
  background-image: url("../public/images/Switch.png");
  background-size: 4rem 4rem;
  display: inline-block;
  width: 4rem;
  height: 4rem;
  content: "";
  transition: all 0.2s;
  transform: translateX(-1rem);
}

.toggledark {
  background-image: url("../public/images/SwitchBackDark.png");
  transition: all 0.2s;
}

.toggledark::after {
  background-image: url("../public/images/SwitchDark.png");
  transform: translateX(1rem);
}

.imageRendering {
  padding: 0;
  border: None;
  background-color: transparent;
  background-repeat: no-repeat;
  word-wrap: break-word;
  background-size: cover;
  transition: all 0.2s;
  position: relative;
  image-rendering: pixelated;
}

.buttonRendering {
  padding: 0;
  border: None;
  background-color: transparent;
  transition: all 0.2s;
  position: relative;
  image-rendering: pixelated;
  image-rendering: optimizeSpeed; /* Legal fallback */
  image-rendering: -moz-crisp-edges; /* Firefox        */
  image-rendering: -o-crisp-edges; /* Opera          */
  image-rendering: -webkit-optimize-contrast; /* Safari         */
  image-rendering: optimize-contrast; /* CSS3 Proposed  */
  image-rendering: crisp-edges; /* CSS4 Proposed  */
  -ms-interpolation-mode: nearest-neighbor; /* IE8+           */
}

@media (max-width: 128rem) {
  .LanguageDex {
    background-image: url("../public/images/LanguageDex.png");
    width: 40rem;
    height: 30rem;
    min-width: 24rem;
    min-height: 18rem;
    padding: 3.5rem;
    border: None;
    background-color: transparent;
    background-repeat: no-repeat;
    word-wrap: break-word;
    background-size: cover;
    transition: all 0.2s;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: left;
    vertical-align: top;
    align-items: center;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor; /* IE8+           */
  }
}

.ReferenceBacker {
  background-image: url("../public/images/PixelSquare.png");
  width: 20rem;
  height: 20rem;
  min-width: 20rem;
  min-height: 20rem;
}

.ReferenceBacker:hover {
  transform: scale(1.1);
}

.ReferenceBackerDark {
  background-image: url("../public/images/PixelSquareDark.png");
  width: 20rem;
  height: 20rem;
  min-width: 20rem;
  min-height: 20rem;
}

.ReferenceBackerDark:hover {
  transform: scale(1.1);
}

.ResumeBacker {
  background-image: url("../public/images/PixelShortBox.png");
  width: 30rem;
  height: 20rem;
  min-width: 18rem;
  min-height: 12rem;
}

.ResumeBackerDark {
  background-image: url("../public/images/PixelShortBoxDark.png");
  width: 30rem;
  height: 20rem;
  min-width: 18rem;
  min-height: 12rem;
}

.ResumeBacker:hover {
  transform: scale(1.1);
}

.ResumeBackerDark:hover {
  transform: scale(1.1);
}

.educationBox {
  position: relative;
  top: 5%;
  justify-content: center;
  align-items: center;
}

.ProjectsBacker {
  background-image: url("../public/images/PixelSquare.png");
  width: 20rem;
  height: 20rem;
  min-width: 18rem;
  min-height: 18rem;
  padding: 0;
}

.ProjectsBackerDark {
  background-image: url("../public/images/PixelSquareDark.png");
  width: 20rem;
  height: 20rem;
  min-width: 18rem;
  min-height: 18rem;
}

.ProjectsBacker:hover {
  transform: scale(1.1);
}

.ProjectsBackerDark:hover {
  transform: scale(1.1);
}

.logoButton {
  width: 5rem;
  height: 5rem;
  min-width: 5rem;
  min-height: 5rem;
  padding: 0;
  border: None;
  background-color: transparent;
  transition: all 0.2s;
  position: relative;
}

.logoButton > img {
  width: 100%;
  image-rendering: pixelated;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  transition: opacity 200ms;
}

.logoButton:hover {
  transform: scale(1.1);
}

.logoButtonDark {
  opacity: 0 !important;
  transition: opacity 200ms;
}

.logoButtonSmall {
  width: 4rem;
  height: 4rem;
  min-width: 4rem;
  min-height: 4rem;
}

.logoButtonSmall > img {
  width: 100%;
  image-rendering: pixelated;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  transition: opacity 200ms;
}

.logoButtonSmallSmall {
  width: 4rem;
  height: 4rem;
  min-width: 4rem;
  min-height: 4rem;
}

.logoButtonSmallSmall > img {
  width: 100%;
  image-rendering: pixelated;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  transition: opacity 200ms;
}

.pixelated {
  image-rendering: pixelated; /* CSS4 Proposed  */
  image-rendering: optimizeSpeed; /* Legal fallback */
  image-rendering: -moz-crisp-edges; /* Firefox        */
  image-rendering: -o-crisp-edges; /* Opera          */
  image-rendering: -webkit-optimize-contrast; /* Safari         */
  image-rendering: optimize-contrast; /* CSS3 Proposed  */
  image-rendering: crisp-edges; /* CSS4 Proposed  */
  -ms-interpolation-mode: nearest-neighbor; /* IE8+           */
}

@media (max-width: 64rem) {
  .logoButtonSmallSmall {
    width: 3rem;
    height: 3rem;
    min-width: 3rem;
    min-height: 3rem;
  }

  .logoButtonSmallSmall > img {
    width: 100%;
    image-rendering: pixelated;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    transition: opacity 200ms;
  }

  .headingMdCircle {
    text-align: center;
    font-size: 0.7rem;
    line-height: 1.5;
  }

  .boxCircleBar {
    align-self: left;
    text-align: center;
    width: 5rem;
    height: 5rem;
    min-width: 5rem;
    min-height: 5rem;
    line-height: 1;
    font-weight: bold;
    position: absolute;
    left: 5%;
    top: 25%;
  }

  .educationBox {
    position: absolute;
    left: 2rem;
  }

  .boxLg {
    text-align: left;
    font-size: 1.3rem;
    line-height: 1;
    font-weight: bold;
    margin-left: 5rem;
    margin-top: 2rem;
    margin-bottom: 0;
  }

  .box2Md {
    text-align: left;
    font-size: 0.9rem;
    line-height: 1;
    font-weight: bold;
    margin-left: 5rem;
    margin-top: 1rem;
    margin-bottom: 0;
  }

  .boxMd {
    text-align: left;
    font-size: 0.8rem;
    line-height: 1.3;
    margin-left: 5rem;
    margin-top: 1rem;
    margin-bottom: 0;
  }

  .ResumeBacker {
    background-image: url("../public/images/PixelShortBoxMobile.png");
    width: 20rem;
    height: 10rem;
    min-width: 20rem;
    min-height: 10rem;
    padding: 0;
    border: None;
    background-color: transparent;
    background-repeat: no-repeat;
    word-wrap: break-word;
    background-size: cover;
    transition: all 0.2s;
    position: relative;
    image-rendering: pixelated;
    align-items: left;
  }
  .ResumeBackerDark {
    background-image: url("../public/images/PixelShortBoxMobileDark.png");
    width: 20rem;
    height: 10rem;
    min-width: 20rem;
    min-height: 10rem;
    padding: 0;
    border: None;
    background-color: transparent;
    background-repeat: no-repeat;
    word-wrap: break-word;
    background-size: cover;
    transition: all 0.2s;
    position: relative;
    image-rendering: pixelated;
    align-items: left;
  }
  .ResumeBacker:hover {
    transform: scale(1.1);
  }

  .ResumeBackerDark:hover {
    transform: scale(1.1);
  }

  .ReferenceBacker {
    background-image: url("../public/images/PixelShortBoxMobile.png");
    width: 20rem;
    height: 10rem;
    min-width: 20rem;
    min-height: 10rem;
  }

  .ProjectsBacker {
    background-image: url("../public/images/PixelShortBoxMobile.png");
    width: 20rem;
    height: 10rem;
    min-width: 20rem;
    min-height: 10rem;
  }

  .ProjectsBackerDark {
    background-image: url("../public/images/PixelShortBoxMobileDark.png");
    width: 20rem;
    height: 10rem;
    min-width: 20rem;
    min-height: 10rem;
  }

  .ProjectsBacker:hover {
    transform: scale(1.1);
  }

  .ProjectsBackerDark:hover {
    transform: scale(1.1);
  }

  .ReferenceBacker:hover {
    transform: scale(1.1);
  }

  .ReferenceBackerDark {
    background-image: url("../public/images/PixelShortBoxMobileDark.png");
    width: 20rem;
    height: 10rem;
    min-width: 20rem;
    min-height: 10rem;
  }

  .ReferenceBackerDark:hover {
    transform: scale(1.1);
  }

  .logoButton {
    width: 3rem;
    height: 3rem;
    min-width: 3rem;
    min-height: 3rem;
    padding: 0;
    border: None;
    background-color: transparent;
    transition: all 0.2s;
    position: relative;
  }

  .logoButton > img {
    width: 100%;
    image-rendering: pixelated;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    transition: opacity 200ms;
  }

  .logoButton:hover {
    transform: scale(1.1);
  }

  .logoButtonDark {
    opacity: 0 !important;
    transition: opacity 200ms;
  }
}
