/*
 * Dark mode theme 
 */
[data-theme="dark"] {
  --primary-bright: #f5f5f5;
  --primary: #f5f5f5;
  --primary-dim: #666666;
  --primary-dark: #202020;
  --secondary: #ffed7f;
  --secondary-bright: #ffea5f;
  --background: #050505;
}

/*
   * Light mode theme 
   */
:root {
  --primary-bright: #050505;
  --primary: #050505;
  --primary-dim: #121315;
  --primary-dark: #efefef;
  --secondary: #002aff;
  --secondary-bright: #4800ff;
  --background: #f5f5f5;
}
