.carouselWrapper {
  position: relative;
  width: 90vw;
  max-width: 90rem;
  height: 50vw;
  max-height: 50rem;
  aspect-ratio: 9/5;
  overflow: hidden;
  margin: auto;
}

.carouselTrack {
  display: flex;
  width: 100%;
  height: 100%;
}

.carouselImage {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sliderButtons {
  all: unset;
  display: flex;
  position: absolute;
  font-size: calc(0.5rem + 2vw);
  top: 50%;
  padding: 2rem;
  cursor: pointer;
  background-color: var(--background-secondary);
  transition: 0.6s ease;
  height: 2vw;
  width: 2vw;
  text-align: center;
  transform: translate(0, -50%);
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border: 0.25rem solid var(--secondary) !important;
}

.sliderButtons:hover {
  filter: brightness(75%);
}

.indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
  z-index: 10;
  background-color: var(--background);
  padding: 0.5rem;
  border: 0.25rem solid var(--secondary) !important;
  margin-bottom: 1rem;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: var(--foreground-transparent);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.activeDot {
  background-color: var(--foreground);
}
